.container.row
  .large-12.small-12.columns
    Hey, 
    = @user.name 
    %br
    %p Reminder that if order is lower number, is earlier in the comic stream (like the first one). We also only show published ones. So there could be an earlier comic that is published while a later one should be first, but is unpublished
    %h1 Comics
    %br

    = button_to 'Save Order', save_order_path, class: 'button radius info save-order', method: 'get'
    
    %ul#sortable
      - @images.each do |image|
        %li.ui-state-default{id: image.id}
          %span.ui-icon.ui-icon-arrowthick-2-n-s
          .image-order{data: {order: "#{image.order}"}}
            = image.order.to_s.empty? ? "No order, publish to order: " :  "image.order.to_s: "
          = image.title.inspect
          = image_tag image.comic, class: 'smaller-image-admin'
          = image.comic_file_name
          = "|"
          = image.large_img? ? "Large image flagged" : "Not flagged as large image"
          %br
          = link_to 'Destroy | ', image, method: :delete, data: { confirm: 'Are you sure?' }
          = link_to 'Edit', edit_image_path(image)
          - if image.published?
            = link_to "| Unpublish", unpublish_path(image.id), remote: true, class: 'unpublish'
          - else
            = link_to "| Publish", publish_path(image.id), remote: true, class: 'publish'

          - if !image.show_title?
            = link_to "| Show Title?", showtitle_path(image.id), remote: true, class: 'showtitle'
          - else
            = link_to "| Unshow Title!", unshowtitle_path(image.id), remote: true, class: 'unshowtitle'
    %hr
    %h2 New Comic
  - if current_user
    = form_for @user, :url => upload_path, :html => { :multipart => true } do |form|
      = form.label :comic, "Upload Comic"
      = form.file_field :comic, :multiple =>:true
      = form.fields_for :image do |ff|
        = ff.label :title, "Comic Title"
        = ff.text_field :title, class: 'input-comic-title'
        = ff.label :large_img, "Large Image?"
        = ff.check_box(:large_img)
      = form.submit
  - else
    %p no one logged in so no upload