<div class="row container align">
  <div class="large-1 small-1 columns">
    <a href="<%= first_url %>"><%= image_tag "first.png" %></a>
  </div>
  
  <div class="large-1 small-1 columns">
    <a href="<%= prev_url(@image) %>"><%= image_tag "previous.png" %></a>
  </div>
  
  <div class="large-8 small-8 columns">
   <!--  <%= image_tag "comic1.png" %> -->
    <br>
    <%= image_tag @image.comic %>
  </div>

  <div class="large-1 small-1 columns">
    <a href="<%= next_url(@image) %>"><%= image_tag "next.png" %></a>
  </div>
  
  <div class="large-1 small-1 columns">
    <a href="<%= root_url %>"><%= image_tag "last.png" %></a>
  </div>

</div>