<div class="row container align">
  <div class="arrow-nav left-nav">
    <a class="navigation-arrows" href="<%= first_url %>"><%= image_tag "first.png" %></a>
  </div>
  
  <div class="arrow-nav-dif left-nav">
    <a class="navigation-arrows" href="<%= prev_url(@image) %>"><%= image_tag "previous.png" %></a>
  </div>
  
  <div class="large-8 small-8 columns comic-img">
    <%= image_tag @image.comic %>
  </div>

  <div class="arrow-nav-dif right-nav">
    <a class="navigation-arrows" href="<%= root_url %>"><%= image_tag "last.png" %></a>
  </div>

  <div class="arrow-nav-dif dif-image smaller-next right-nav">
    <a class="navigation-arrows" href="<%= next_url(@image) %>"><%= image_tag "next.png" %></a>
  </div>
</div>