<% if @result %>

  <div class="allresults">
      <% @result.each do |score, name| %>
      	<% if name!="No 1st place" && name!="No 2nd place" && name!="No 3rd place" %>
      		<div class="eachresult1">
      			<div class="name1">
      				<%="Go to: #{name}" %>
       			</div>
       			<div class="location1">
       				<%= "@ #{Event.find_by_name(name).location}" %>
       			</div>
       			<div class="time1">
       				<%= "@ #{Event.find_by_name(name).time}" %>
       			</div>
            <% if @button=="rank" %>
          		<div class="matchscore1">
                	Relevance score: 
                	<a class="score1"><%= score.round(1) %>%</a>
              	</div>
              <% elsif @button=="time" %>
                <div class="matchscore1">
                  Time: 
                  <a class="score1"><%= score.round(1) %>%</a>
                </div>
              <% elsif @button=="distance" %>
                <div class="matchscore1">
                  Distance to you: 
                  <a class="score1"><%= score.round(1) %>%</a>
                </div>
              <% elsif @button=="price" %>
                <div class="matchscore1">
                  Price: 
                  <% if score==0 %>
                    <% score="Free"%>
                  <% elsif score==1000 %>
                    <% score="Price not listed"%>
                  <% else %>
                    <% score=score%>
                  <% end %>
                  <a class="score1"><%= score.round(1) %>%</a>
                </div>
            <% end %>
     		</div>
      	<% else %>
      		<div class="eachresult1">
            	<%= name %>
           	</div>

        <% end %>
      <% end %>
  </div><br>
   
<% end %>
