<!-- why is this necessary? -->
<% if @matchedEvents != nil && @matchedEvents != [] %>
  <p>Here are our suggestions </p>
  <div class="allresults">
    <% @matchedEvents.each do |event| %>
      <div class="eachresult1">
        <div class="name1">
          <a href="<%= event.url%>"> <%="#{event.name}" %></a>
        </div>
        <div class="location1">
          <%= "@ #{event.location}" %>
        </div>
        <div class="time1">
          <%= "@ #{event.dayOn}" %> - <%= "@ #{event.dayEnd}" %>
        </div>
        <div class="matchscore1">
           Price: <%= "#{event.price}" %>
        </div>
      </div>
  <% end %>
<% else %>
<div class='output allresults'>
  <p>Whoops! Try again.</p>
</div>
<% end %>
<br />
<div class="bottomBtns">
  <button class="buttonAllDay">Results for this day</button>
  <a class="btnTry" href="/whattodo">Try Again</a>
</div>
<br />
<% if @matchedDayEvents %>
  <div class="allDayResults">
    <% @matchedDayEvents.each do |event| %>
      <div class="eachresult1">
        <div class="name1">
          <a href="<%= event.url%>"> <%="#{event.name}" %></a>
        </div>
        <div class="location1">
          <%= "@ #{event.location}" %>
        </div>
        <div class="time1">
          <%= "@ #{event.dayOn}" %> - <%= "@ #{event.dayEnd}" %>
        </div>
        <div class="matchscore1">
           Price: <%= "#{event.price}" %>
        </div>
        <div class="matchscore1">
           Categories: <%= "#{event.categoryList.join('/')}" %>
        </div>
      </div>
  <% end %>
<% end %>




