<% if @result %>

  <div class="allresults">
      <% @result.each do |score, name| %>
      	<% if name!="No 1st place" && name!="No 2nd place" && name!="No 3rd place" %>
      		<div class="eachresult1">
      			<div class="name1">
      				<%="Go to: #{name}" %>
       			</div>
       			<div class="location1">
       				<%= "@ #{Event.find_by_name(name).location}" %>
       			</div>
       			<div class="time1">
       				<%= "@ #{Event.find_by_name(name).time}" %>
       			</div>
          		<div class="matchscore1">
                	Relevance score: 
                	<a class="score1"><%= score.round(1) %>%</a>
              	</div>
     		</div>
      	<% else %>
      		<div class="eachresult1">
            	<%= name %>
           	</div>

        <% end %>
      <% end %>
  </div><br>
   
<% end %>
