<% if @result %>

<div class="result">
	<% @result.each do |event| %>
      	<% event.each do |name, glocation| %>
	      	<% if name!="No 1st place" && name!="No 2nd place" && name!="No 3rd place" %>
				<div class="eachresult">
	          		<div class="name">
	          			<%="Go to: #{name}" %>
	           		</div>
	           		<div class="location">
	           			<%= "@ #{Event.find_by_name(name).location}" %>
	           		</div>
	           		<div class="time">
	           			<%= "@ #{Event.find_by_name(name).time}" %>
	           		</div>
	         		<div class="matchscore">
                		Relevance score: 
                		<a class="score"><%= score.to_i"%" %></a>
              		</div>
	         	</div>
	        <% else %>
	         	<div class="eachresult">
	                <%= name %>
		        </div>
		    <% end %>
		<% end %>
    <% end %>
</div>

<% end %>
