<% if @result %>

<div class="result">
	<% @result.each do |event| %>

     <% if event[1]!="No 1st place" && event[1]!="No 2nd place" && event[1]!="No 3rd place" %>
     	<div class="eachresult">
        <div class="hidden" style="display:none">
        <%= Event.find_by_name(event[1]).latitude %>, <%= Event.find_by_name(event[1]).longitude %>,
        </div>
            <div class="textoutput">

            		<div class="name">
                  <% value =  Event.find_by_name(event[1]).link[/http/] ? Event.find_by_name(event[1]).link : "http://" + Event.find_by_name(event[1]).link %>
                  <% value = value[/listed/] ? "" : value %>
                    <a href="<%= value %>"> <%="#{event[1]}" %></a>

                   <!--<iframe src="<%= value %>" style="border:0px #FFFFFF none;display:none;" name="myiFrame" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="200px" width="468px"></iframe>-->


             		</div>
             		<div class="location">
             		<%= "@ #{Event.find_by_name(event[1]).location}" %>
             		</div>
             		<div class="time">
             		<%= "@ #{Event.find_by_name(event[1]).time}" %>
             		</div>
                <div class="matchscore">
                  		Relevance score:
                  		<a class="score"><%= event[0].round(1) %>%</a>
                		</div>

            </div>

            <div class="mapdiv">
                <div class="map"></div>
            </div>


      </div>
      <% else %>
         <div class="eachresult1">
          <%= event[1] %>
         </div>

      <% end %>



	<% end %>

</div>
<% end %>





