<% if @result %>

<div class="result">
	<% @result.each do |event| %>

     <% if event[1]!="No 1st place" && event[1]!="No 2nd place" && event[1]!="No 3rd place" %>
     	<div class="eachresult">
          		<div class="name">
          		<%="Go to: #{event[1]}" %>
           		</div>
           		<div class="location">
           		<%= "@ #{Event.find_by_name(event[1]).location}" %>
           		</div>
           		<div class="time">
           		<%= "@ #{Event.find_by_name(event[1]).time}" %>
           		</div>
              <div class="matchscore">
                		Relevance score: 
                		<a class="score"><%= event[0].round(1) %>%</a>
              		</div>
       	</div>
        <% else %>
         <div class="eachresult1">
          <%= event[1] %>
         </div>

         <% end %>



	<% end %>

</div>
<% end %>



