<div class="container">

    <div class='topnav1'>
      <div class='profilethumb1'>
        <% if current_user %>
          <%= link_to "Sign out", signout_path %>
        <% end %>
      </div>
      <!-- <div class='logo1'>
      </div> -->
    </div>

    <div class="container1">
      <h1 class="time"></h1>
      <h1 class="welcome">
        Welcome back, <%= current_user.name.split(' ').first %>.
      </h1>
        <div class="profilepic">
          <img class="fbimg" src="<%= @picture %>"/>
        </div>
        <div class="button-container">
          <button class="appbutton">
            <%= link_to "To the App", "/whattodo" %>
          </button>
          <br/ >
          <br/ >
          <h2 class="welcome check-events"> Check out these events! </h2>
          <div class="alloutput">
             <div class="allresults soon-events">
              <% @daysEvents.each do |event| %>
                <div class="eachresult1">
                  <div class="name1">
                    <a href="<%= event.url%>"> <%="#{event.name}" %></a>
                  </div>
                  <div class="location1">
                    <%= "@ #{event.location}" %>
                  </div>
                  <div class="time1">
                    <%= "@ #{event.dayOn}" %> - <%= "@ #{event.dayEnd}" %>
                  </div>
                  <div class="matchscore1">
                     Price: <%= "#{event.price}" %>
                  </div>

                  <div class="event-desc">
                    <%= "@ #{event.desc}" %>
                  </div>
                </div>
            <% end %>
            
          </div>
        </div>
    </div>

</div>