	<body>
		<div class='wrapper'>
			<div class='topnav'>
				<div id='profilethumb'>
				<% if current_user %>
				  <%= link_to "Sign Out", signout_path %>
				<% else %>
				  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
				<% end %>

				</div>
				<div id='logo'>
					<%= link_to "Back to Dashboard", root_url %>
				</div>
			</div>

			<!-- This div just takes up space at the top of page
			for formatting. -->
			<div class="topspace">
			</div>


			<!-- Question to ask user. We may want to also putq
			the date in this question. -->
				<div class="back">
					<%= button_to "", root_url, :class => "bhome", :method => :get %>
					<input class="b2feeling" type="button"/>
					<input class="bk2category" type="button"/>
				</div>

				<div class='question'>
					<p>How are you feeling?</p>
				</div>

				<div class='question2'>
					<p>What do you feel like?</p>
					<!-- <p class="subtext">We are almost there</p> -->
				</div>

				<div class='question3'>
					<p>How much to spend?</p>
				</div>

				<div class='question4'>
					<p>Here are our suggestions: </p>
				</div>

				<div class="clear">
				</div>

			<!-- This div is where all the categories will be
			held (including an ad box for advertisers). -->
			<div class='categories'>

					<button id='1' class='categorybox'>
					<div id='1img'></div>
					<div id='1text'></div></button>




					<button id='2' class='categorybox'>
					<div id='2img'></div>
					<div id='2text'></div></button>




					<button id='3' class='categorybox'><div id='3img'></div><div id='3text'></div></button>




					<button id='4' class='categorybox'><div id='4img'></div><div id='4text'></div></button>




					<button id='5' class='categorybox'><div id='5img'></div><div id='5text'></div></button>




					<button id='6' class='categorybox'><div id='6img'></div><div id='6text'></div></button>



			</div>
			<div class='categories1'>
				<button id='7' class='categorybox1'>
					<div id='7img'></div>
					<div id='7text'></div></button>




					<button id='8' class='categorybox1'>
					<div id='8img'></div>
					<div id='8text'></div></button>




					<button id='9' class='categorybox1'><div id='9img'></div><div id='9text'></div></button>




					<button id='10' class='categorybox1'><div id='10img'></div><div id='10text'></div></button>




					<button id='11' class='categorybox1'><div id='11img'></div><div id='11text'></div></button>




					<button id='12' class='categorybox1'><div id='12img'></div><div id='12text'></div></button>
			</div>

			<div class='price'>
				<button id='13' class='categorybox2'><div id='13img'></div><div id='13text'>Free!</div></button>
				<button id='14' class='categorybox2'><div id='14img'></div><div id='14text'>&lt;$20</div></button>
				<button id='15' class='categorybox2'><div id='15img'></div><div id='15text'>$20-$50</div></button>
				<button id='16' class='categorybox2'><div id='16img'></div><div id='16text'>$50-$100</div></button>
				<button id='17' class='categorybox2'><div id='17img'></div><div id='17text'>$100-$300</div></button>
				<button id='18' class='categorybox2'><div id='18img'></div><div id='18text'>I don't care!</div></button>
			</div>

			<!-- Output styling in result.css.scss -->

			<div class='output'>
				<p>Results:</p>
				<%= render 'ranks'%>
			</div>

			<div class='output1'>
				<button id="all">All Results</button>
				<button id="try">Try Again!</button>
			</div>

			<div id="contain">
				<div class="blackness">

				</div>


				<div id="foo"></div>
			</div>
			<!-- Look in alloutput.css.scss file for styling -->
			<div id="center">
			<div class="buttons">
				<button id="price" class="sort-order" style="display:inline" data-sort-order="price">Price</button>
				<button class="pricedir up" style="visibility:hidden">Up</button>
				<button class="pricedir down" style="visibility:hidden">Down</button>
				<button id="time" class="sort-order" style="display:inline" data-sort-order="time">Time</button>
				<button class="timedir up" style="visibility:hidden">Up</button>
				<button class="timedir down" style="visibility:hidden">Down</button>
				<button id="dist" class="sort-order" style="display:inline" data-sort-order="dist">Distance</button>
				<button class="distdir up" style="visibility:hidden">Up</button>
				<button class="distdir down" style="visibility:hidden">Down</button>
				<button id="ourrank" class="sort-order" style="display:inline"data-sort-order="ourrank">Rank</button>
				<button class="ourrankdir up" style="visibility:hidden">Up</button>
				<button class="ourrankdir down" style="visibility:hidden">Down</button>
			</div>


			<div id="buttonsdir">
				<button class="dir">Up</button>
				<button class="dir">Down</button>
			</div>
		</div>

			<div class="alloutput">
				<%= render "all" %>
			</div>

		</div>
	</body>

<script type="text/javascript">

var opts = {
  lines: 13, // The number of lines to draw
  length: 20, // The length of each line
  width: 10, // The line thickness
  radius: 30, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#000', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto' // Left position relative to parent in px
};
var target = document.getElementById('foo');
var spinner = new Spinner(opts).spin(target);
start1()
function start1() {
	var bank1=[["Get Cultured", "assets/dark/appbar.globe.png"],
	["Learn", "/assets/dark/appbar.radar.screen.png"],
	["Try New Things", "/assets/dark/appbar.map.treasure.png"],
	["Be Merry", "assets/dark/appbar.snowflake.png"],
 	["Meet New People", "assets/dark/appbar.people.multiple.png"],
	["Laugh", "assets/dark/appbar.smiley.kiki.png"],
	["Touristy", "/assets/dark/appbar.city.sanfrancisco.png"],
	["Jam Out", "/assets/dark/appbar.music.live.png"],
	["Be a Good Person", "/assets/dark/appbar.thumbs.up.png"],
	["Party Hardy", "/assets/dark/appbar.martini.png"],
	["Spend $", "assets/dark/appbar.money.png"],
	["Family Channel", "/assets/dark/appbar.home.png"],
	["Sports", "/assets/dark/appbar.image.sports.png"],
	["Watch a Show", "/assets/dark/appbar.movie.clapper.png"],
	["Outdoor Fun", "assets/dark/appbar.tree.pine.png"],
	["Geek Out", "assets/dark/appbar.potion.png"]];

	var indexes1=[]
	isInArray= function(value, array) {
		return array.indexOf(value) > -1 ? true : false;
	}
	for (var i=12; i>=7; i--) {
		var num1=Math.ceil(Math.random()*(bank1.length)-1)
		while (isInArray(num1,indexes1)) {
		num1=Math.ceil(Math.random()*(bank1.length)-1)
	 }
	 indexes1.push(num1)
	$("#"+i+"text").text(bank1[num1][0])
	$("#"+i+"img").prepend('<img class="theImg" src='+ bank1[num1][1]+ '/>')
	}

	var bank=[["Happy", "/assets/dark/appbar.smiley.happy.png"],
	["Sad", "/assets/dark/appbar.smiley.frown.png"],
	["Celebratory", "/assets/dark/appbar.trophy.png"],
	["Lonely", "/assets/dark/appbar.user.png"],
	["Restless", "/assets/dark/appbar.timer.alert.png"],
	["Lazy", "/assets/dark/appbar.sleep.png"],
	["Excited", "/assets/dark/appbar.smiley.kiki.png"],
	["Blah", "/assets/dark/appbar.checkmark.uncrossed.png"],
	["Festive", "/assets/dark/appbar.snowman.png"],
	["Weird", "/assets/dark/appbar.smiley.what.png"],
	["Nerdy", "/assets/dark/appbar.smiley.glasses.png"],
	["Normal", "/assets/dark/appbar.people.png"],
	["Fancy", "/assets/dark/appbar.clothes.tie.png"]];
	var indexes=[]
	for (var i=6; i>=0; i--) {
		var num=Math.ceil(Math.random()*(bank.length)-1)
		while (isInArray(num,indexes)) {
		num=Math.ceil(Math.random()*(bank.length)-1)
	 }
	 indexes.push(num)
	$("#"+i+"text").text(bank[num][0])
	$("#"+i+"img").prepend('<img class="theImg" src='+ bank[num][1]+ '/>')
	}
	var bank3= ["/assets/dark/appbar.clothes.tie.png","/assets/dark/appbar.clothes.tie.png","/assets/dark/appbar.clothes.tie.png","/assets/dark/appbar.clothes.tie.png","/assets/dark/appbar.clothes.tie.png","/assets/dark/appbar.clothes.tie.png"]
	var pricecount=0
	for (var i=18; i>=13; i--) {

		$("#"+i+"img").prepend('<img class="theImg" src='+ bank3[pricecount]+ '/>' )
		pricecount++;
	}


	var bank2=["Lining up meter sticks...", "Asking robots politely...", "Using cheat codes...", "Consulting magic 8-ball...", "Stacking monkeys...", "Loading catapult...", "Thinking harder than ever...", "Asking Oracle of Delphi...", "Synergizing a lot..."];
	$(".blackness").text(bank2[Math.ceil(Math.random()*bank2.length-1)])
}

$("#try").on("click", function(){
	for (var i=1; i<=12; i++) {
		$("#"+i+"img").children()[0].remove()
	}
	start1()
})


</script>


