	<body>
		<div class='wrapper'>
			<div class='topnav'>
				<div id='profilethumb'>
				<% if current_user %>
				  <%= link_to "Sign Out", signout_path %>
				<% else %>
				  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
				<% end %>

				</div>
				<div id='logo'>
					<%= link_to "Back to Dashboard", root_url %>
				</div>
			</div>

			<!-- This div just takes up space at the top of page
			for formatting. -->
			<div class="topspace">
			</div>

			<!-- Question to ask user. We may want to also putq
			the date in this question. -->
				<div class="back">
					<%= button_to "", root_url, :class => "bhome", :method => :get %>
					<input class="b2feeling" type="button"/>
					<input class="bk2category" type="button"/>
				</div>

				<div class='question'>
					<p>What day are you interested in?</p>
				</div>

				<div class='question2'>
					<p>What do you feel like doing?</p>
					<!-- <p class="subtext">We are almost there</p> -->
				</div>

				<div class='question3'>
					<p>How much to spend?</p>
				</div>

				<div class='question4'>
					<p>Here are our suggestions </p>
				</div>

				<div class="clear">
				</div>

			<!-- This div is where all the categories will be
			held (including an ad box for advertisers). -->
			<div class='categories'>
				<div id="datepicker"></div>
			</div>
			
			<div class="right-results-change">
				<h2>Change Things!</h2>
				<div id="datepickerAfter" class="all-right"></div>
				<div id="input-for-category" class="all-right">
					<select name="selectCat">
						<% @categories.each do |cat| %>
							<option value="<%= cat %>"> <%= cat %> </option>
						<% end %>
					</select>
				</div>
				<div id="input-for-price" class="all-right">
					<select name="selectPrice">
						<% @prices.each do |price| %>
							<option value="<%= price %>"> <%= price %> </option>
						<% end %>
					</select>
				</div>
			</div>

			<div class='categories1'>
				<button id='7' class='categorybox1'>
					<div id='7img'></div>
					<div id='7text'></div></button>

					<button id='8' class='categorybox1'>
					<div id='8img'></div>
					<div id='8text'></div></button>

					<button id='9' class='categorybox1'><div id='9img'></div><div id='9text'></div></button>

					<button id='10' class='categorybox1'><div id='10img'></div><div id='10text'></div></button>

					<button id='11' class='categorybox1'><div id='11img'></div><div id='11text'></div></button>

					<button id='12' class='categorybox1'><div id='12img'></div><div id='12text'></div></button>
			</div>

			<div class='price'>
				<button id='13' class='categorybox2'><div id='13img'></div> <i class="fa fa-mortar-board fa-2x"></i><div id='13text'>Free!</div></button>
				<button id='14' class='categorybox2'><div id='14img'> <i class="fa fa-money fa-2x"></i></div><div id='14text'>&lt;$20</div></button>
				<button id='15' class='categorybox2'><div id='15img'> <i class="fa fa-btc fa-2x"></i></div><div id='15text'>$20-$40</div></button>
				<button id='16' class='categorybox2'><div id='16img'></div> <i class="fa fa-shopping-cart fa-2x"></i><div id='16text'>$40-$80</div></button>
				<button id='17' class='categorybox2'><div id='17img'></div> <i class="fa fa-cc-visa fa-2x"></i><div id='17text'>$80-$160</div></button>
				<button id='18' class='categorybox2'><div id='18img'></div> <i class="fa fa-line-chart fa-2x"></i><div id='18text'>I don't care!</div></button>
			</div>

			<!-- Output styling in result.css.scss -->

			<div id="contain">
				<div class="blackness">
			</div>

				<div id="foo"></div>
			</div>
			<!-- Look in alloutput.css.scss file for styling -->

			<div class="alloutput">
				<%= render "all" %>
			</div>

		</div>
	</body>

<script type="text/javascript">

var opts = {
  lines: 13,
  length: 20,
  width: 10,
  radius: 30,
  corners: 1,
  rotate: 0,
  direction: 1,
  color: '#000',
  speed: 1,
  trail: 60,
  shadow: false,
  hwaccel: false,
  className: 'spinner',
  zIndex: 2e9,
  top: 'auto',
  left: 'auto'
};
var target = document.getElementById('foo');
var spinner = new Spinner(opts).spin(target);
start1()
function start1() {
	var categoryBank=[["Get Cultured", "assets/dark/appbar.globe.png"],
	["Expand Mind", "/assets/dark/appbar.radar.screen.png"],
	["Try New Things", "/assets/dark/appbar.map.treasure.png"],
	["Be Merry", "assets/dark/appbar.snowflake.png"],
 	["Meet New People", "assets/dark/appbar.people.multiple.png"],
	["Joke, Laugh, Cry", "assets/dark/appbar.smiley.kiki.png"],
	["Be a Tourist", "/assets/dark/appbar.city.sanfrancisco.png"],
	["Jam Out", "/assets/dark/appbar.music.live.png"],
	["Be a Good Person", "/assets/dark/appbar.thumbs.up.png"],
	["Party Hardy", "/assets/dark/appbar.martini.png"],
	["Family Channel", "/assets/dark/appbar.home.png"],
	["Sports, sport", "/assets/dark/appbar.image.sports.png"],
	["Watch a Show", "/assets/dark/appbar.movie.clapper.png"],
	["Trek Outdoors", "assets/dark/appbar.tree.pine.png"],
	["Foody Cravings", "assets/dark/appbar.tree.pine.png"],
	["Divine Revelation", "assets/dark/appbar.tree.pine.png"],
	["All Business", "assets/dark/appbar.money.png"],
	["Artsy Fartsy", "assets/dark/appbar.money.png"],
	["Where Art Thou?", "assets/dark/appbar.money.png"],
	["Geek Out", "assets/dark/appbar.potion.png"]];

	var indexes1=[]
	isInArray= function(value, array) {
		return array.indexOf(value) > -1 ? true : false;
	}
	for (var i=12; i>=7; i--) {
		var num1=Math.ceil(Math.random()*(categoryBank.length)-1)
		while (isInArray(num1,indexes1)) {
		num1=Math.ceil(Math.random()*(categoryBank.length)-1)
	 }
	 indexes1.push(num1)
	$("#"+i+"text").text(categoryBank[num1][0])
	$("#"+i+"img").prepend('<img class="theImg" src='+ categoryBank[num1][1]+ '/>')
	}

	var funnyLoads=["Lining up meter sticks...", "Asking robots politely...", "Using cheat codes...", "Consulting magic 8-ball...", "Stacking monkeys...", "Loading catapult...", "Thinking harder than ever...", "Asking Oracle of Delphi...", "Synergizing a lot..."];
	$(".blackness").text(funnyLoads[Math.ceil(Math.random()*funnyLoads.length-1)])
}

$("#try").on("click", function(){
	for (var i=1; i<=18; i++) {
		$("#"+i+"img").children()[0].remove()
	}
	start1()
})


</script>


