	<body>
		<div class='wrapper'>
			<div class='topnav'>
				<div id='profilethumb'>
				<% if current_user %>
				  <%= link_to "Sign Out", signout_path %>
				<% else %>
				  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
				<% end %>

				</div>
				<div id='logo'>
					<%= link_to "Back to Dashboard", root_url %>
				</div>
			</div>

			<!-- This div just takes up space at the top of page
			for formatting. -->
			<div class="topspace">
			</div>


			<!-- Question to ask user. We may want to also put
			the date in this question. -->
				<div class="back">
					<%= button_to "", root_url, :class => "bhome", :method => :get %>
					<input class="b2feeling" type="button"/>
					<input class="bk2category" type="button"/>
				</div>

				<div class='question'>
					<p>How are you feeling?</p>
				</div>

				<div class='question2'>
					<p>What do you feel like?</p>
					<!-- <p class="subtext">We are almost there</p> -->
				</div>

				<div class='question3'>
					<p>How much to spend?</p>
				</div>

				<div class='question4'>
					<p>Here are our suggestions: </p>
				</div>

				<div class="clear">
				</div>

			<!-- This div is where all the categories will be
			held (including an ad box for advertisers). -->
			<div class='categories'>
				<button id='1' class='categorybox'></button>
				<button id='2' class='categorybox'></button>
				<button id='3' class='categorybox'></button>
				<button id='4' class='categorybox'></button>
				<button id='5' class='categorybox'></button>
				<button id='6' class='categorybox'></button>
			</div>
			<div class='categories1'>
				<button id="7" class='categorybox1'></button>
				<button id='8' class='categorybox1'></button>
				<button id='9' class='categorybox1'></button>
				<button id='10' class='categorybox1'></button>
				<button id='11' class='categorybox1'></button>
				<button id='12' class='categorybox1'></button>
			</div>

			<div class='price'>
				<button id='13' class='categorybox2'>Free!</button>
				<button id='14' class='categorybox2'>&lt;$20</button>
				<button id='15' class='categorybox2'>$20-$50</button>
				<button id='16' class='categorybox2'>$50-$100</button>
				<button id='17' class='categorybox2'>$100-$300</button>
				<button id='18' class='categorybox2'>I don't care!</button>
			</div>

			<!-- Output styling in result.css.scss -->

			<div class='output'>
				<p>Results:</p>
				<%= render 'ranks'%>
			</div>

			<div class='output1'>
				<button id="all">All Results</button>
				<button id="try">Try Again!</button>
			</div>

			<div class="blackness">

			</div>

			<div id="foo"></div>

			<!-- Look in alloutput.css.scss file for styling -->
			<div id="center">
			<div class="buttons">
				<button id="price" class="sort-order" style="display:inline" data-sort-order="price">Price</button>
				<button class="pricedir up" style="visibility:hidden">Up</button>
				<button class="pricedir down" style="visibility:hidden">Down</button>
				<button id="time" class="sort-order" style="display:inline" data-sort-order="time">Time</button>
				<button class="timedir up" style="visibility:hidden">Up</button>
				<button class="timedir down" style="visibility:hidden">Down</button>
				<button id="dist" class="sort-order" style="display:inline" data-sort-order="dist">Distance</button>
				<button class="distdir up" style="visibility:hidden">Up</button>
				<button class="distdir down" style="visibility:hidden">Down</button>
				<button id="ourrank" class="sort-order" style="display:inline"data-sort-order="ourrank">Rank</button>
				<button class="ourrankdir up" style="visibility:hidden">Up</button>
				<button class="ourrankdir down" style="visibility:hidden">Down</button>
			</div>


			<div class="buttonsdir">
				<button class="dir">Up</button>
				<button class="dir">Down</button>
			</div>
		</div>

			<div class="alloutput">
				<%= render "all" %>
			</div>

		</div>
	</body>

<script type="text/javascript">

var opts = {
  lines: 13, // The number of lines to draw
  length: 20, // The length of each line
  width: 10, // The line thickness
  radius: 30, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#000', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto' // Left position relative to parent in px
};
var target = document.getElementById('foo');
var spinner = new Spinner(opts).spin(target);
start1()
function start1() {
	var bank1=["Get Cultured", "Learn", "Trying New Things", "Be Merry", "Hangout with Strangers", "Laugh", "Be a Tourist", "Jam Out", "Be a Good Person", "Party Hardy", "Spend Spend Spend", "Family Channel", "Sporting Around", "Watch a Show", "Outdoor Fun", "Geeking Out"];
	var indexes1=[]
	isInArray= function(value, array) {
		return array.indexOf(value) > -1 ? true : false;
	}
	for (var i=12; i>=7; i--) {
		var num1=Math.ceil(Math.random()*(bank1.length)-1)
		while (isInArray(num1,indexes1)) {
		num1=Math.ceil(Math.random()*(bank1.length)-1)
	 }
	 indexes1.push(num1)
	$("#"+i).text(bank1[num1])
	$("#"+i).prepend('<img id="theImg" src="/assets/back.png" />')

	}

	var bank=["Happy", "Sad", "Celebratory", "Lonely", "Restless", "Lazy", "Excited", "Blah", "Festive", "Weird", "Nerdy", "Normal", "Fancy"];
	var indexes=[]
	for (var i=6; i>=0; i--) {
		var num=Math.ceil(Math.random()*(bank.length)-1)
		while (isInArray(num,indexes)) {
		num=Math.ceil(Math.random()*(bank.length)-1)
	 }
	 indexes.push(num)
	$("#"+i).text(bank[num])

	}


	var bank2=["Lining up meter sticks...", "Asking robots politely...", "Using cheat codes...", "Consulting less than magic 8-ball...", "Stacking monkeys...", "Loading events into catapult...", "Thinking harder than ever...", "Asking Oracle of Delphi in bits...", "Cue Rocky montage song..."];
	$(".blackness").text(bank2[Math.ceil(Math.random()*bank2.length-1)])
}

$("#try").on("click", function(){

	start1()
})


</script>


