
<!-- dealing with large data sets, 15640 events in that stream.
will allow multiple selections (up to three).multiple words,
different moods so each time seems different.
click up to n moods, then say how much money you have in your pocket.
select range then your location based on ip address find your stuff.
want to put javascript to make it move to next task which is money.
this is all a form mind you.-->

<!-- If the user is signed in, the below will be the index page,
  otherwise a sign in pop up will appear. Refer to index.css.scss for styling. -->



<% if current_user %>

<div class="container">

    <div id="data">
    </div>

    <div class='topnav1'>
      <div class='profilethumb1'>
        <% if current_user %>
          <%= link_to "Sign Out", signout_path %>
        <% end %>
      </div>
      <!-- <div class='logo1'>
      </div> -->
    </div>

    <div class="container1">
      <h1 class="time">
        <%= Time.now.strftime("%I:%M") %>
      </h1>
      <h1 class="welcome">
        Welcome back, <%= current_user.name.split(' ').first %>.
      </h1>
        <div class="profilepic">
          <img class="fbimg" src="<%= @picture %>"/>
        </div>
        <button class="appbutton">
          <%= link_to "To the App", "/whattodo" %>
        </button>
    </div>

    <div class="recommend">
      <div class="rightfade">

        <h2 class="recommendmsg">
          Recommendations
        </h2>

        <div class="recommendations">
          <%= render 'rec' %>
        </div>

        <div class="friends" style="display:inline">

        <div class="friends">
          Your friends recommendations
        </div>

        </div>
    </div>

</div>



<!-- If the user is not signed in, this below section will pop up and
  promp a sign in or an option to go straight to the app. -->
<% else %>

  <div id="overlay">
  </div>
  <div id="lightbox">
    <p> Sign in with Fbook </p>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <p> Or just use the service </p>
    <!-- want it to dissolve and the thing was underneath the whole time, like boxes -->
    <%= link_to "What to do", "/whattodo" %>
  </div>

<% end %>



<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type='text/javascript'>
//if they select lazy, this needs to run
$("#clickable").on("click",function(){
	var thiss= this;
	if ("geolocation" in navigator) {
		var longitude;
		var latitude;
		var button;
  		navigator.geolocation.getCurrentPosition(function(position){
  			$.ajax({
  				url: "/",
  				type: "GET",
  				dataType: "script",
  				data: {
  					button: $(thiss).text(),
  					longitude: position.coords.longitude,
  					latitude: position.coords.latitude,

  				}

  			})
  		})
	} else {
		//will need to guess
  		alert("no geolocation")
	}
})

$(".rover").hover(function(){
  //ajax request to get info
  var self= $(this)
  var value= $(this).attr("class").split(/\s/)
  if ( value[1] !== "") {
  //if ($(this).attr("class").split(/\s/).size>=2){
    console.log($(self).children("Night").attr("id"))

  }
  // $.ajax({
  //         url: "/",
  //         type: "GET",
  //         dataType: "script",
  //         data: {
  //           button: $(thiss).text(),
  //           longitude: position.coords.longitude,
  //           latitude: position.coords.latitude,

  //         }

  //       })
}, function(){
  console.log("hello")
})


</script>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46454307-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>