
<!-- If the user is signed in, the below will be the index page,
  otherwise a sign in pop up will appear. Refer to index.css.scss for styling. -->

<% if current_user %>

<div class="container">

    <div id="data">
    </div>

    <div class='topnav1'>
      <div class='profilethumb1'>
        <% if current_user %>
          <%= link_to "Sign Out", signout_path %>
        <% end %>
      </div>
      <!-- <div class='logo1'>
      </div> -->
    </div>

    <div class="container1">
      <h1 class="time">
        
      </h1>
      <h1 class="welcome">
        Welcome back, <%= current_user.name.split(' ').first %>.
      </h1>
        <div class="profilepic">
          <img class="fbimg" src="<%= @picture %>"/>
        </div>
        <button class="appbutton">
          <%= link_to "To the App", "/whattodo" %>
        </button>
    </div>

    <div class="recommend">
      <div class="rightfade">

        <h2 class="recommendmsg">
          Recommendations
        </h2>

        <div class="recommendations">
          <%= render 'rec' %>
        </div>
        <% count=0 %>

        <div class="friendmsg">
          Friends using the App
        </div>

        <div class="friendoutput">
          <% @installedfriends.each do |key, value| %>

          <div class="picandname">
            <div class="imgfb"><img src=<%=key.picture%>/></div>
            <div class="namefb"><%=key.name%></div>
          </div>

          <div class="rover <%= count %>">
            <div id="info">
              <% unless @recent[User.find_by_name(key.name)]==nil %>

              was feeling <%= @recent[User.find_by_name(key.name)].feeling %>, looking for <%= @recent[User.find_by_name(key.name)].category %> and wanted it at <%= @recent[User.find_by_name(key.name)].price %>
              <hr>
              <% if Event.find_by_name(@recent[User.find_by_name(key.name)].first_event)==nil %>
                <%= "Happened yesterday!" %>
              <% else %>
                <%= Event.find_by_name(@recent[User.find_by_name(key.name)].first_event).name %> <br>
                @<%= Event.find_by_name(@recent[User.find_by_name(key.name)].first_event).location %><br>
                @<%= Event.find_by_name(@recent[User.find_by_name(key.name)].first_event).time %>
              <!-- want distance from you -->
              <% end %>
              <% end %>
            </div>
            <%= @recent[User.find_by_name(key.name)]!=nil ? "-"+@recent[User.find_by_name(key.name)].first_event : "Nothing yet" %>
          </div>

          </a><br>
          <% count+=1 %>
          <% end %>



        </div>
    </div>

</div>



<!-- If the user is not signed in, this below section will pop up and
  promp a sign in or an option to go straight to the app. -->
<% else %>

<div class="overlay">
  <div class="topright">
  </div>

  <div class="lightbox">
    <h1 class="hellomsg">What's happening in Toronto?</h1>
    <h1 class="shortds">We will help you decide what to do,<br>
      <span class="stext"> in just a few clicks.</span> For free!
    </h1>
    <br>
    <div class="fbbuttonpos">
      <a class="btn-auth btn-facebook large" href="/auth/facebook">
      Sign in with <b>Facebook</b>
      </a>
    </div>
    <br>
    <h2 class="theapp"><%= link_to "Just let me use the app.", "/whattodo" %></h2>
    <br>
  </div>

</div>

<% end %>



<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type='text/javascript'>
//if they select lazy, this needs to run
  $(".time").text("Hello")
  var d = new Date();
  var hr = d.getHours();
  
  if (hr > 12) {
    hr -= 12;
} else if (hr === 0) {
   hr = 12;
}
  var min = d.getMinutes();
  if (min < 10) {
    min = "0" + min;
  }
var ampm = hr < 12 ? "am" : "pm";

  $(".time").text(hr+":"+min+" "+ ampm)
setInterval(function() {
  var d = new Date();
  var hr = d.getHours();
  if (hr > 12) {
    hr -= 12;
} else if (hr === 0) {
   hr = 12;
}
  var min = d.getMinutes();
  if (min < 10) {
    min = "0" + min;
  }
var ampm = hr < 12 ? "am" : "pm";
  $(".time").text(hr+":"+min+" "+ ampm)
  
}, 10000)

$("#clickable").on("click",function(){
	var thiss= this;
	if ("geolocation" in navigator) {
		var longitude;
		var latitude;
		var button;
  		navigator.geolocation.getCurrentPosition(function(position){
  			$.ajax({
  				url: "/",
  				type: "GET",
  				dataType: "script",
  				data: {
  					button: $(thiss).text(),
  					longitude: position.coords.longitude,
  					latitude: position.coords.latitude,

  				}

  			})
  		})
	} else {
		//will need to guess
  		alert("no geolocation")
	}
})

$(".rover").hover(function(){
  //ajax request to get info
  var self= $(this)
  console.log($(this))
  var value= $(this).text()
  console.log(value)
  var nothing= new RegExp("Nothing")
  if (!nothing.test(value)) {
  // //if ($(this).attr("class").split(/\s/).size>=2){

    self.children().toggle()
    //$(this).children[0].attr("display", "block")

  }
}, function(){
  var self= $(this)
  console.log($(this))
  var value= $(this).text()
  console.log(value)
  var nothing= new RegExp("Nothing")
  if (!nothing.test(value)) {

    self.children().toggle()
  }
})


  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46454307-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>