
					<% if event[1].length > 15 %>
						<% short_string_ideal_length = 15 %>
						<% snip_idx = event[1].index(/\s/, short_string_ideal_length) %>
						<% short_str = event[1][0, snip_idx] + "..." %>
						<%= short_str %>
					<% else %>
						<%= event[1] %>
					<% end %>

					<% @installedfriends.each do |key, value| %>


            <img src=<%=key.picture%>/> <%=key.name%>
          <div class="rover <%=(@recent[User.find_by_name(key.name)].first_event) unless @recent[User.find_by_name(key.name)]==nil %>">
            <div id="<%= @recent[User.find_by_name(key.name)]!=nil ? (@recent[User.find_by_name(key.name)].first_event) : "-Nothing yet" %>" style="display:none">hello</div>
            <%= @recent[User.find_by_name(key.name)]!=nil ? "-"+@recent[User.find_by_name(key.name)].first_event : "-Nothing yet" %> </div>
          </a><br>
          <% end %>