<div class="container row">
  <div class="large-12 small-12 columns contact-holder">
    <div class="left shift-right">
      <h3>We also take smoke signals. </h3>

      <%= simple_form_for @contact, :html => {:class => 'form-horizontal contact-form' }, remote: true do |f| %>
        <%= f.input :name, :required => true %>
        <%= f.input :email, :required => true, class: 'better-email' %>
        <%= f.input :message, :as => :text, :required => true %>
        <div class= "hidden">
          <%= f.input :nickname, :hint => 'Leave this field blank!' %>
        </div>
        <div>
          </br>
          <%= f.button :submit, 'Send message', :class=> "button radius primary disable-please"%>
        </div>
      <% end %>
    </div>

    <div class="right shift-left contact-wheel">
      <%= image_tag "ContactPS.gif" %>
    </div>
  </div>
</div>