.row.container
  .large-12.small-12.columns
    = simple_form_for @image do |f|
      = f.input :title
      = f.input :large_img
      Currently this comic file:
      = @image.comic_file_name
      %br
      %br
      Upload a new one below.
      = f.file_field :comic
      = f.submit