<div class="row align">
  <% if !User.allPublishedImages.empty? %>

  <div class="container comic-vert large-12 small-12 columns <%= @image.large_img? ? 'extended' : '' %>">
    <% if @image.show_title? %>
    <div class="row entitled">
      <div class="offset-2 large-10 small-10 columns">
        <h3 class="title-class"><%= @image.title %></h3>
      </div>
    </div>
    <% end %>

    <% unless @image.is_last? %>
    <div class="arrow-vert arrow-nav left-nav">
      <a class="navigation-arrows" href="<%= first_url %>"><%= image_tag "first.png" %></a>
    </div>

    <div class="arrow-vert arrow-nav-dif left-nav">
      <a class="navigation-arrows" href="<%= prev_url(@image) %>"><%= image_tag "previous.png" %></a>
    </div>
    <% end %>

    <div class="large-8 small-8 columns comic-img <%= @image.is_last? ? 'shift-left': '' %>">
      <%= image_tag @image.comic, class: 'comic-img-load', id: 'img-shown' %>
    </div>

    <% unless @image.is_first? %>
    <div class="arrow-vert arrow-nav-dif right-nav">
      <a class="navigation-arrows" href="<%= root_url %>"><%= image_tag "last.png" %></a>
    </div>

    <div class="arrow-vert arrow-nav-dif dif-image smaller-next right-nav">
      <a class="navigation-arrows" href="<%= next_url(@image) %>"><%= image_tag "next.png" %></a>
    </div>
    <% end %>
  </div>
  <% else %>
  Need to publish.
  <% end %>
</div>
