<div class="row align">
  <% if !User.allPublishedImages.empty? %>

  <div class="container comic-vert large-12 small-12 columns <%= @image.large_img? ? 'extended' : '' %>">
    <% if @image.show_title? %>
    <div class="row entitled">
      <div class="offset-2 large-10 small-10 columns">
        <h3 class="title-class"><%= @image.title %></h3>
      </div>
    </div>
    <% end %>

    <% unless @image.is_last? %>
    <div class="arrow-vert arrow-nav left-nav">
      <a class="navigation-arrows" href="<%= first_url %>"><%= image_tag "first.png" %></a>
    </div>

    <div class="arrow-vert arrow-nav-dif left-nav">
      <a class="navigation-arrows" href="<%= prev_url(@image) %>"><%= image_tag "previous.png" %></a>
    </div>
    <% end %>

    <div class="large-8 small-8 columns comic-img <%= @image.is_last? ? 'shift-left': '' %>">
      <div id="spinner">
        <br />
        <br />
        <br />
        <%= image_tag 'Pie_1.png', id: 'rotate-pie' %>
        <h2 id="spinner-text">Loading <em class='striking'>Pie</em> Image...</h2>
      </div>
      <%= image_tag @image.comic, class: 'comic-img-load', id: 'img-shown' %>
    </div>

    <% unless @image.is_first? %>
    <div class="arrow-vert arrow-nav-dif right-nav">
      <a class="navigation-arrows" href="<%= root_url %>"><%= image_tag "last.png" %></a>
    </div>

    <div class="arrow-vert arrow-nav-dif dif-image smaller-next right-nav">
      <a class="navigation-arrows" href="<%= next_url(@image) %>"><%= image_tag "next.png" %></a>
    </div>
    <% end %>
    <div class="row">
      <div class="large-12 small-12 columns share-center">
        <%= social_share_button_tag(@image.title, :url => "#{image_url(@image)}", :popup => "true") %>
      </div>
    </div>

    <!-- <div class="row comments">
      <div class="large-8 small-8 columns share-center dis-comments">
        
          <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'badcomics';
              
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
    </div> -->
  </div>

  <% else %>
  Need to publish.
  <% end %>
</div>
