<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'Bad Comics' %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div id="background-wrap">
    <div class="x1 backwards">
        <div class="cloud"></div>
    </div>

    <div class="x2">
        <div class="cloud"></div>
    </div>

    <div class="x3 backwards">
        <div class="cloud"></div>
    </div>

    <div class="x4">
        <div class="cloud"></div>
    </div>

    <div class="x5">
        <div class="cloud"></div>
    </div>

    <div class="x3">
        <div class="cloud"></div>
    </div>

    <div class="x4 backwards">
        <div class="cloud"></div>
    </div>
  </div>

  <div class="conf-cont">
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
    <div class="confetti"></div>
  </div>

  <div id="nav">
    <% if current_user %>
      <%= link_to "Upload A Comic", home_path(current_user.id) %> | 
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <!-- <%= link_to "Register", new_user_path %> | -->
      <!-- <%= link_to "Login", :login %> -->
    <% end %>
  </div>
  
  <div class="row">
    
      <div class="container-notifications">
  
        <div class="flag note notice columns large-12 small-12">
          <div class="flag__image note__icon">
            <i class="fa fa-heart"></i>
          </div>
          <div class="flag__body note__text">
            <%= flash[:notice] %>
          </div>
          <a href="#" class="note__close">
            <i class="fa fa-times"></i>
          </a>
        </div>
          

        <div class="flag note success note--success columns large-12 small-12">
          <div class="flag__image note__icon">
            <i class="fa fa-check"></i>
          </div>
          <div class="flag__body note__text success-text">
          </div>
          <a href="#" class="note__close">
            <i class="fa fa-times"></i>
          </a>
        </div>
          
        <div class="flag note error note--error columns large-12 small-12">
          <div class="flag__image note__icon">
            <i class="fa fa-times"></i>
          </div>
          <div class="flag__body note__text">
            Hey that isn't an actual email! You tricky hobbit!
          </div>
          <a href="#" class="note__close">
            <i class="fa fa-times"></i>
          </a>
        </div>
          
        <div class="flag note info note--info columns large-12 small-12">
          <div class="flag__image note__icon">
            <i class="fa fa-info"></i>
          </div>
          <div class="flag__body note__text">
            <p><%= flash[:info] %></p>
          </div>
          <a href="#" class="note__close">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
  
  </div>

<div class="row container header">
  <div class="large-5 small-5 columns logo">
    <h1><%= image_tag "logo.png", class: 'logo-img' %></h1>
  </div>
  <div class="large-7 small-7 columns buttons">
    <div class="row">
      <div class="large-12 small-12 columns">
        <ul class="right button-group">
          <li class='header-image'><%= image_tag "NewestHeader.png", class: 'header-img'%></li>
          <div class="large-12 small-12 columns links-nav">
            <div class="row">
              <li class="hovered"><%= image_tag "outline_t.png" %></li>
              <div class="large-3 small-3 columns">
                <li class="nav first"><%= link_to "Today", root_url %></li>
              </div>
              <div class="large-3 small-3 columns">
                <li class="nav"><%= link_to "Past", past_path %></li>
              </div>
              <div class="large-3 small-3 columns">
                <li class="nav"><%= link_to 'About', about_path %></li>
              </div>
              <div class="large-3 small-3 columns">
                <% randomId = User.allImages.sample.id %>
                <li class="nav"><%= link_to "Random", random_path(randomId) %></li>
              </div>
            </div>          
          </div>
        </ul>
      </div> 
    </div>
   </div>
 </div>
 <br>
 <br>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <br>
<br>

<div class="row container">
  <div class="icon-text">
  
    <div class="icons">
    <%= image_tag "Submarine_1.png", class: 'submarine-hidden' %>
      <%= image_tag "facebook.png", input_html: { class: 'large-1 small-1 medium-1 columns'} %>
      <%= image_tag "twitter.png", input_html: { class: 'large-1 small-1 medium-1 columns'} %>
    </div>
    <div class="large-8 small-8 medium-8 columns">
      <!-- <div class="base-cont">
        <%= image_tag "Submarine_1.png", input_html: { class: 'columns submarine'} %>
      </div> -->
      <%= simple_form_for @subscriber, html: { class: 'box' }, remote: true do |f| %>
        <%= f.input :email, label: false, class: 'subscriber-email large-4 columns' %>
        <%= f.button :submit, :label => 'Subscribe', value: 'Subscribe', class: 'subscriber-submit large-2 columns' %>
      <% end %>
    </div>
    <div class="row">
      <div class="large-12 small-12 columns disclaimer-text">
        <p class="disclaimer">These comics aren't meant to offend anyone. Except you - you nosey, little twerp.</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
      </div>
    </div>
    
  </div>
</div>
<br>
<br>
<br>
  </body>
</html>
