<!DOCTYPE html>
<html>
<head>
  <title>Badcomics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= current_user.name %>
<% else %>
  <p> No one signed in </p>
<% end %>

<%= yield %>

</body>
</html>
